@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CraigslistClone.Models.Listing_Model.NewListingModel

<h1> New Post | @Model.ThreadName </h1>

<style>
    .info{
        display: inline-block;
    }
    td{
        background-color:aliceblue;
    }
    textarea
    {
        resize: none;
    }
</style>

<div>
    <h4>
        Required Fields are marked by *
    </h4>
    @{ 
       @if(Model.failedCreate)
       {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>You must have a title and content to submit this form!</strong>   Please fill out the required fields.
            </div>
       }
    }

</div>

<form asp-action="AddPost" method="post" id="addListingForm" enctype="multipart/form-data">
    <!-- enctype is very important. Why i was getting Null -->
    <div class="form-group">
        <label asp-for="Title">Title*</label>
        <textarea rows="1" asp-for="Title" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <table cellspacing="10">
            <tr>
                <td><label asp-for="Price"></label></td>
                <td></td>
                <td><label asp-for="Address"></label></td>
                <td></td>
                <td><label asp-for="PhoneNumber"></label></td>
            </tr>
            <tr>
                <td><input type="number" asp-for="Price" min="0" step="0.01" class="form-control" style="width:auto"></td>
                <td></td>
                <td><textarea asp-for="Address" rows="1" class="form-control"></textarea></td>
                <td></td>
                <td><textarea asp-for="PhoneNumber" rows="1" class="form-control"></textarea></td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <label asp-for="Content">Content*</label>
        <textarea rows="20" asp-for="Content" class="form-control"></textarea>
    </div>

    <div class="form-group">

        <input type="file" asp-for="image" id="FileUpload" multiple class="form-control" accept="image/*" />

    </div>


    @{bool disableButton = false; <!-- Will return to later, file validation -->

        <button type="submit" id="submitListingBtn" class="btn btn-submitPost; btn-dark" @Html.DisabledIf(disableButton)>
            Create Listing
        </button>
    }
    <input asp-for="ThreadID" type="hidden" />
</form>
