@model CraigslistClone.Models.Listing_Model.ListingIndexModel

<h1>@Model.Title</h1>

<div>
    <h2> Author: @Model.AuthorName </h2>
    <h3> Created: @Model.Created </h3>
</div>

<div>
    @Model.ListingContent
</div>

