
@model CraigslistClone.Models.Listing_Model.ListingIndexModel

    <h1>
        @Model.Title
        <br />
    </h1>

<div style="padding-left:5px; padding-top:5px; padding-bottom: 5px; border:inset 2px;" >
    <textarea readonly rows="10" cols="121" wrap="hard">@Model.ListingContent</textarea>
</div>

<div>
    <br />

    <h5> Author: @Model.AuthorName </h5>
    <h6> Created: @Model.Created </h6>
    <br />
</div>

