@model CraigslistClone.Models.ThreadIndexModel

@using (Html.BeginForm("SearchResults", "Listing", FormMethod.Post))
{
    <!--<form>
        <input type="text" style="width: 400px" name="searchQuery" id="searchQuery" />

        <input type="submit" value="Search" />
        <br />
    </form>-->
}

<body>
    <table class="table table-hover" id="threadIndexTable">
        <br />
        <tbody>
            @foreach (var thread in Model.ThreadList)
            {
                <tr onclick="location.href = '@(Url.Action("Topic", "Thread", new { Id = thread.Id } ))'">
                    <td>
                        <a asp-controller="Thread" asp-action="Topic" asp-route-id="@thread.Id"> @thread.Name </a>
                    </td>
                    <td style="text-align:center">
                        @thread.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>